@import '/src/styles/variables.scss';

.postLiveModalContainer {
    align-items: center;
    background-color: rgba(163, 163, 163, 0.404);
    height: 100vh;
    justify-content: center;
    outline: 1px solid $outline;
    padding: 2rem;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 10;
}

.postLiveModal {
    position: relative;
    background-color: $white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 2rem 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.postLiveModalImageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.postLiveModalImage {
    height: 100%;
    padding: 1.5rem;
    user-select: none;
    -webkit-user-drag: none;
}

.postLiveModalInfo {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.postLiveModalInfoName {
    font-weight: 500;
}

.postLiveModalinfotype {
    font-weight: 500;
}

.postLiveModalInfoAddress {
    padding: 0.25rem 0 0.4rem 0;
}

.postLiveModalInfoDescription {
    font-size: 1rem;
    color: $gray;
    margin-top: auto;
    padding: 2rem 0;
    margin-bottom: auto;
}

.postLiveModalInfoFooter {
    cursor: default;
    display: flex;
    font-weight: 600;
    margin-top: auto;
    padding: 1rem;
}

.postLiveModalInfoMore {
    background-color: $primary;
    border-radius: 0.4rem;
    color: $white;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.65rem;

    @include smallPhone {
        margin-left: 0;
        margin-right: 0;
    }
}

.postLiveModalInfoStatus {
    background-color: $highlight;
    border-radius: 0.4rem;
    color: $white;
    padding: 0.65rem;
}

.postLiveLink {
    color: $primary;
}

.postLiveModalCloseBtn {
    top: 0;
    margin: 0.75rem;
    position: absolute;
    margin-left: auto;

    button {
        height: 2rem;
        border-radius: 1rem;
    }

    @include smallDeviceBreak {
        margin: 0.75rem;
        left: 0;
    }
}
