@import '/src/styles/variables.scss';

.postLiveContainer {
    grid-area: b;
    border: 1px solid $outline;
    position: relative;

    @include smallDeviceBreak {
        display: none;
    }
}

.postLive {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 1rem;
    position: sticky;
    top: 40px;
}

.postLiveImageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.postLiveImage {
    border-radius: $radius;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.postLiveInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.postLiveInfoName {
    font-weight: 500;
}

.postLiveInfoType {
    font-weight: 500;
}

.postLiveInfoAddress {
    padding: 0.25rem 0 0.4rem 0;
}

.postLiveInfoDescription {
    font-size: 1.2rem;
    color: $gray;
    margin-top: auto;
    margin-bottom: auto;
}

.postLiveInfoFooter {
    cursor: default;
    display: flex;
    font-weight: 600;
    margin-top: auto;
}

.postLiveInfoMore {
    background-color: $primary;
    border-radius: 0.4rem;
    color: $white;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0.65rem;
}

.postLiveInfoStatus {
    background-color: $highlight;
    border-radius: 0.4rem;
    color: $white;
    padding: 0.65rem;
}

.postLiveCloseButton {
    top: 0;
    margin: 0.75rem;
    position: absolute;
    margin-left: auto;

    button {
        height: 2rem;
        border-radius: 1rem;
    }

    @include smallDeviceBreak {
        margin: 0.75rem;
        left: 0;
    }
}

.postLiveLink {
    color: $primary;
}
