@import '/src/styles/variables.scss';

.button {
    align-items: center;
    display: flex;
    background-color: $primary;
    border: none;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    padding: 0.75rem;

    &:hover {
        background-color: rgba($primary, $alpha: 0.95);
    }

    &:active {
        background-color: rgba($primary, $alpha: 0.85);
    }

    &:disabled {
        cursor: default;
        filter: brightness(85%);

        &:hover {
            background-color: $primary;
        }
    }
}
