@import '/src/styles/variables.scss';

.post {
    grid-area: a;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    border-top: 0.1px solid $outline;
    border-bottom: 0.1px solid $outline;
    min-height: 280px;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    @include smallDeviceBreak {
        height: 350px;
    }
}

.postImageContainer {
    background-size: cover;
    background-position: center;
    border-radius: $radius;
}

.postInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.postInfoHeader {
    font-weight: 500;
}

.postInfoAddress {
    padding: 0.25rem 0 0.4rem 0;
}

.postInfoStatus {
    color: $highlight;
}

.postInfoDescription {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    color: $gray;
}

.postInfoFooter {
    font-weight: 600;
    margin-top: auto;
}

.postEvent {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: background 0.25s;

    &:hover {
        background-color: rgba($white, $alpha: 0.25);
    }
}
