@import '/src/styles/variables.scss';

.searchBar {
    display: inline-flex;
    outline: 1px solid $outline;

    input {
        border: $outline;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 0.75px;
        margin-left: 0.5rem;
        padding: 0.85rem;
        caret-color: $primary;

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }

        @include smallDeviceBreak {
            font-size: 0.9rem;
        }
    }
}
